<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>项目</title>
    <link rel="stylesheet" href="../../style/weui.min.css"/>
    <script src="../../vendor/angular.min.js"></script>

    <script src="../../js/common.js"></script>
    <script src="../../js/pjt.mdf.js"></script>
</head>
<body>
    <div ng-app="pjtMdfApp" ng-controller="pjtMdfCtrl">
        <div class="weui_cells_title">更新项目</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">名称</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" ng-model="project.name" placeholder="请输入名称" >
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">描述</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" ng-model="project.description" placeholder="请输入描述">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">进度</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" ng-model="project.progress" placeholder="请输入进度">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">投资额</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" ng-model="project.invest" placeholder="请输入投资额(整数)">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">营利额</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" ng-model="project.reward" placeholder="请输入营利额(整数)">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">是否上线</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" ng-model="project.online" placeholder="是否为上线项目(0否1是)">
                </div>
            </div>
            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">是否成功</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" ng-model="project.success" placeholder="是否为成功项目(0否1是)">
                </div>
            </div>
        </div>
        <div class="weui_btn_area">
            <a class="weui_btn weui_btn_primary" ng-click="submit()" id="showTooltips">确定</a>
        </div>
        <div class="weui_dialog_alert" id="dialog2" style="display:{{showTip}};">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
            <div class="weui_dialog_bd">{{rstmsg}}</div>
            <div class="weui_dialog_ft">
                <a ng-click="closeTip()" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>
    </div>
</body>
</html>